<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-20 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.jpg" alt="saya" class="img-fluid" title="sayantoni">
                        </figure>
                        <p>Welcome to weather app</p>
                        <h1>{{errorMessage}}</h1>
                        <a href="/" target="_saya"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>

</html>